{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>


    {% include "head_css.html"%}

</head>

<body>    
    {% include "navbar.html" %}
    <div class="container">

        {% block text %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
        {% include "javascript.html" %}
</body>
</html>

